@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
/**************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
}

.container {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 8rem 0;
  align-items: center;
}
@media only screen and (min-width: 90rem) {
  .container {
    align-items: center;
    justify-items: center;
    height: 100vh;
  }
}

main {
  width: 80vw;
  grid-column: 2;
  border-radius: 1rem;
  overflow: hidden;
}
@media only screen and (min-width: 90rem) {
  main {
    height: 50vh;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-1 {
  background-color: #e38826;
}
.card-1 button {
  color: #e38826;
}
.card-2 {
  background-color: #006970;
}
.card-2 button {
  color: #006970;
}
.card-3 {
  background-color: #004241;
}
.card-3 button {
  color: #004241;
}

.card-1,
.card-2,
.card-3 {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: 3.5rem 0;
  padding: 6rem;
}
@media only screen and (min-width: 90rem) {
  .card-1,
.card-2,
.card-3 {
    padding: 4rem;
    gap: 5rem 0;
  }
}
.card-1 .heading,
.card-2 .heading,
.card-3 .heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 4rem;
  color: #f2f2f2;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
.card-1 p,
.card-2 p,
.card-3 p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.75);
}
.card-1 button,
.card-2 button,
.card-3 button {
  border-radius: 3rem;
  padding: 1.5rem;
  width: 60%;
  justify-self: flex-start;
  outline: none;
  border: none;
  font-size: 1.5rem;
}
.card-1 button:hover,
.card-2 button:hover,
.card-3 button:hover {
  border: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  background: transparent;
  cursor: pointer;
}
