@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/**************************/
// COLORS

$orange: hsl(31, 77%, 52%);
$green: hsl(184, 100%, 22%);
$darkgreen: hsl(179, 100%, 13%);

$neutral-1: hsla(0, 0%, 100%, 0.75);
$neutral-2: hsl(0, 0%, 95%);

// TYPOGRAPHY

$font-1: 'Lexend Deca', sans-serif; // paragraphs
$font-2: 'Big Shoulders Display', cursive; //background, headings, button
