*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px / 10px/16px = 62.5%;
	height: 100vh;
}

.container {
	background-color: $neutral-2;

	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	padding: 8rem 0;
	align-items: center;
	// overflow: scroll;

	@media only screen and (min-width: $desktop) {
		align-items: center;
		justify-items: center;
		height: 100vh;
	}
}

main {
	height: 80vh;
	width: 80vw;
	grid-column: 2;
	border-radius: 1rem;
	overflow: scroll;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	// height: 85vh;

	// @media only screen and (min-width: $medium) {
	// 	height: 50vh;
	// 	width: 90vw;
	// 	display: grid;
	// 	grid-template-columns: repeat(3, 1fr);
	// }

	@media only screen and (min-width: $desktop) {
		height: 65vh;
		// width: 50vw;
		display: grid;
		border-radius: 1rem;
		overflow: hidden;
		// grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		// grid-template-columns: repeat(3, 1fr);
	}
}
